<h1>Boston's Best Brunch</h1>

<% @restaurants.each do |restaurant| %>
  <h4><a href="/restaurant/<%= restaurant.id %>"><%= restaurant.name %></a></h4>
<% end %>

<h4 class="new"><a href="/restaurants/new">Add a New Brunch Spot</a></h4>
