<h1>AL's Fav Motorcycles</h1>

<% @motorcycles.each do |motorcycle| %>

  <h4> 
    <a href="/motorcycle/<%= motorcycle.id %>" >
      <%= motorcycle.year %> 
      <%= motorcycle.make %>
      <%= motorcycle.model %>
    </a>
  </h4>
<% end %>

<h4 class="new"><a href="/motorcycles/new">Add a New Motorcycle</a></h4>
