<h2>Boston's Best Brunch</h2>

<% @restaurants.each do |restaurant| %>
  <h4><a href="/restaurant/<%= restaurant.id %>"><%= restaurant.name %></a></h4>
<% end %>

<br><br>

<h4><a href="/restaurants/new">Add a New Brunch Spot</a></h4>
