<h1>Add New Motorcycle</h1>

<form method="POST" action="/motorcycles">
  <label>Year:</label>
  <input type="text" name="year"><br>
  
  <label>Make:</label>
  <input type="text" name="make"><br>

  <label for="model">Model:</label>
  <input type="text" name="model"><br>

  <label for="description">Description:</label>
  <input type="text" name="description"><br>

  <label for="cc">CCs:</label>
  <input type="text" name="cc"><br>

  <label for="url">Website:</label>
  <input type="text" name="url"><br>

  <label for="image">Image:</label>
  <input type="text" name="image"><br>

  <button type="submit">Add Motorcycle</button>
</form>

<%# <a class="back" href="/">Back to All Motorcycles</a> %>
